:root{
  --bg: #242326;
  --bg-accent:#484a4d;
  --text-color: #dadce1;
  --color-brown: rgb(94, 56, 13);
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

body{ margin:0; padding:0; font-size:100%; line-height:1; }
ul{list-style: none; margin: 0; padding: 0;}
a{
  color: var(--text-color);
  text-decoration: none;
}

/* ************************** 
        Landing Page
...........................*/
.home-container{
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(94, 56, 13)0%, rgb(26, 20, 20) 15%, rgb(26, 20, 20) 75%, rgb(94, 56, 13) 100%);
}
.home-container div{
    width: 50%;
    height: 100%;
    cursor: pointer;
    color: rgb(218, 218, 218);
    position: relative;
    text-align: center;
}
.home-container .home-left-link{
    float: left;
    
}
.home-container .home-right-link{
    float: right;
    
}

.home-container div:hover{
    background-color: rgba(200,200,200,.1);
}
.home-container div span{
    display: inline-block;
    padding: 15px;
    margin-top: 30%;
    position: relative;
    transition: all .5 ease-in-out;
}

.home-container div span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: 3px solid transparent;
    border-radius: 3px;
    transition: all .2 ease-in-out;
}

.home-container div span::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: transparent;
    border: 3px solid transparent;
    border-radius: 3px;
    transition: all .2 ease-in-out;
}

.home-container div:hover span::before{
    animation: border .5s linear forwards; 
}

.home-container div:hover span::after{
    animation: border2 .5s linear forwards; 
}

@keyframes border{
    0%{
      width: 0;
      height: 0;
      border-top-color: rgb(218, 218, 218);
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    50%{
      width: 100%;
      height: 0;
      border-top-color: rgb(218, 218, 218);
      border-right-color: rgb(218, 218, 218);
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    100%{
      width: 100%;
      height: 100%;
      border-top-color: rgb(218, 218, 218);
      border-right-color: rgb(218, 218, 218);
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
  }

  @keyframes border2{
    0%{
      width: 0;
      height: 0;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: rgb(218, 218, 218);
    }
    50%{
      width: 0;
      height: 100%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color:rgb(218, 218, 218);
      border-left-color: rgb(218, 218, 218);
    }
    100%{
      width: 100%;
      height: 100%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: rgb(218, 218, 218);
      border-left-color: rgb(218, 218, 218);
    }
  }

/* ************************** 
        Nav Bar
...........................*/ 
.nav-container{
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}
.navbar{
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
    
} 
.nav-item{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link{
  width: calc(var(--nav-size) * 1.5);
  background-color: var(--bg-accent);
  border-radius: 5%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}
.nav-link:hover{
  filter: brightness(1.2);
}
/* .nav-container .navbar li{
    border: 3px solid lightblue;
    margin-left: 20%;
} */



/* ************************** 
        Card Display 
...........................*/ 
.card-container{
  height: 100vh;
  position: relative;
}
.detail-window{
  background-color: lightgreen;
  width: 25%;
  height: 90%;
  position: fixed;
  left: 0;
}
.card-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: pink;
  width: 75%;
  position: absolute;
  right: 0;
}

.card{
  cursor: pointer;
  margin: 10px;
}
.card-img{
  width: 100px;
  height: 150px;
}

/* ************************** 
      Filter Dropdown 
...........................*/ 

.dropdown-container{
  height: 30px;
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.dropdown{
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.dropdown-item{
  width: calc(30px * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-btn{
  width: calc(30px * 0.5);
  height: calc(30px * 0.5);
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 300ms;
}
.dropdown-btn:hover{
  background-color: var(--bg-accent);
  border-radius: 40%;
}

.dropdown-menu{
  position: absolute;
  top: 88px;
  z-index: 5;
  width: 300px;
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
}

.menu-item{
  height: 50px;
  display: flex;
  align-items: center;
  border-radius:var(--border-radius) ;
  transition: background var(--speed);
  padding: 0.5rem;
}
.menu-item:hover{
  background-color: #525357;
}

.arrow {
  border:solid var(--text-color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  cursor: pointer;
  
}

.start_out{
  position: absolute;
  transform: translateX(110%);
  opacity: .01; 
}

.slide_out_left{
  position: absolute;
  transform: translateX(-110%); 
  opacity: .01;
  animation: slideOutLeft 500ms ease-in-out;
}
.slide_in_left{
  animation: slideInLeft 500ms ease-in-out;
}

.slide_out_right{
  position: absolute;
  transform: translateX(110%); 
  opacity: .01;
  animation: slideOutRight 500ms ease-in-out;
}
.slide_in_right{
  animation: slideInRight 500ms ease-in-out;
}

@keyframes slideOutLeft{
  0%{transform: translateX(0); opacity: 1; position: static;}
  100%{opacity: .01;}
}
@keyframes slideInLeft{
  0%{transform: translateX(110%); opacity: 0.1; position: absolute;}
  100%{transform: translateX(0); opacity: 1;}
}
@keyframes slideOutRight{
  0%{transform: translateX(0); opacity: 1; position: static;}
  100%{opacity: .01;}
}
@keyframes slideInRight{
  0%{transform: translateX(-110%); opacity: 0.1; position: absolute;}
  100%{transform: translateX(0); opacity: 1;}
}
