/* ************************** 
        Card Display 
...........................*/ 
.card-container{
    height: 100vh;
    position: relative;
  }
  .detail-window{
    background-color: lightgreen;
    width: 25%;
    height: 90%;
    position: fixed;
    left: 0;
  }
  .detail-window img{
    max-width: 100%;
  }
  .card-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: pink;
    width: 75%;
    position: absolute;
    right: 0;
  }
  
  .card{
    cursor: pointer;
    margin: 10px;
  }
  .card-img{
    width: 100px;
    height: 150px;
  }
  .fill_in{
    background-color: green;
  }
  
.animate_card{
    opacity: 0;
    animation: save_card 500ms linear;
}

@keyframes save_card{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    50%{
        transform:translateY(500px) scale(.2);
        opacity: .8;
    }
    100%{
        transform: translateY(1000px) scale(.1);
        opacity: 0.1;
    }
}