/* ************************** 
        Card Display 
...........................*/ 
.card-container{
    height: 100vh;
    position: relative;
  }
  .detail-window{
    background-color: lightgreen;
    width: 25%;
    height: 90%;
    position: fixed;
    left: 0;
  }
  .detail-window img{
    max-width: 100%;
  }
  .card-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: pink;
    width: 75%;
    position: absolute;
    right: 0;
  }
  
  .card{
    cursor: pointer;
    margin: 10px;
  }
  .card-img{
    width: 100px;
    height: 150px;
  }
  .fill_in{
    background-color: green;
  }
  
  