<div class="coverbox-container">
    <div class="coverbox" ng-click="album.getCards('Legend of Blue Eyes White Dragon')">
        <img class="coverbox-img" src="../images/cardsets/1159406.jpg" alt="Legend of Blue Eyes White Dragon">
    </div>
    <div class="coverbox" ng-click="album.getCards('Metal Raiders')">
        <img class="coverbox-img" src="../images/cardsets/metalraides.jpg" alt="Metal Raiders">    
    </div>
    <div class="coverbox" ng-click="album.getCards('Magic Ruler')">
        <img class="coverbox-img" src="../images/cardsets/magicruler.jpg" alt="Magic Ruler">    
    </div>
</div>

