<div ng-include="'partials/FilterDropdown.html'"></div>
{{album.filterArr}}
<h3>Your Album</h3>
<div ng-if="album.yourCards.length > 0">
    <div class="card-container">

        <div class="detail-window">
            <span ng-if="album.cardLock">
                <button ng-click="album.lockedCardOptions(false, false)">-</button>
                <span ng-click="album.lockedCardOptions(null, true)"><i class="{{album.mouseOverCard.favorite? 'fas' : 'far'}} fa-star"></i></span>
                <button ng-click="album.lockedCardOptions(true, false)">+</button>
            </span>

            <img ng-if="album.mouseOverCard.api_id" ng-src="{{album.mouseOverCard.card_images[0]}}" alt="{{album.mouseOverCard.name}}">
            
        </div>

        <div class="card-box">
            <div class="card" 
             ng-repeat="card in album.yourCards | cardFilter : album.filter | orderBy: album.sortOption : !album.reverseSort " 
             ng-mouseenter="album.getCardDetails(card)" 
             ng-click="album.changeCardlock()"> 
                <img class="card-img" ng-src="{{card.card_images[1]}}" alt={{card.name}}>{{card.ammount}} 
            </div class="card">
        </div>
        
    </div>
</div>