<div class="dropdown-container">
    <ul class="dropdown"> 
        <li class="dropdown-item"> 
            <a class="dropdown-btn" ng-click="album.changeFilterMenu()" href=""><i class="arrow"></i></a>
            <div class="dropdown-menu {{album.whichMenu === 'options'? ' extended' : ''}}" ng-if="album.filterMenu">
                <!-- Main Menu -->
                <a href="" class="menu-item {{album.doTheSlide? album.mainMenuClass : '' }}" ng-click="album.slideTo('options')">Filter</a>
                <a href="" class="menu-item {{album.doTheSlide? album.mainMenuClass : '' }}" ng-click="album.slideTo('sort')">Sort</a>
                <!-- <a href="" class="menu-item {{album.doTheSlide? album.mainMenuClass : '' }}" ng-click="album.slideTo('filter')">Filter</a> -->

                <!-- Secondary Menu -->
                <a href="" class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}" ng-click="album.secondSlider()">Back</a>
                <!-- Filter -->
                <span ng-if="album.whichMenu === 'filter' " >
                    <a href="" class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Monster</a>
                    <a href="" class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Spell</a>
                    <a href="" class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Trap</a>
                </span>
                <!-- Sort -->
                <span ng-if="album.whichMenu === 'sort' " >
                    <a href="" class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Rarity</a>
                    <a href="" class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}">A -> Z</a>
                    <a href="" class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Z -> A</a>
                </span>
                <!-- Filter Radio Btns -->
                <span class="filter-container" ng-if="album.whichMenu === 'options' " >
                    <!-- rdo btn -->
                    <span>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            All Cards
                            <input type="radio" value="X" ng-model="album.radioBtnVal" ng-click="album.switchCardType()">
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            Monsters
                            <input type="radio" value="M" ng-model="album.radioBtnVal" ng-click="album.switchCardType()">
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            Spells
                            <input type="radio" value="S" ng-model="album.radioBtnVal" ng-click="album.switchCardType()">
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            Traps
                            <input type="radio" value="T" ng-model="album.radioBtnVal" ng-click="album.switchCardType()">
                        </label>
                    </span>
                    <!-- <span>
                        Monsters
                        <h3 class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Monsters</h3>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">All
                            <input type="radio" value="all" ng-model="album.radioBtnVal['M']"  >
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">None
                            <input type="radio" value="none" ng-model="album.radioBtnVal['M']" >
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Filter Subcategories
                            <input type="radio" value="some" ng-model="album.radioBtnVal['M']">
                        </label><hr>
                        
                        Spells
                        <h3 class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Spells</h3>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">All
                            <input type="radio" value="all" ng-model="album.radioBtnVal['S']" >
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">None
                            <input type="radio" value="none" ng-model="album.radioBtnVal['S']" >
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Filter Subcategories
                            <input type="radio" value="some" ng-model="album.radioBtnVal['S']" >
                        </label><hr>

                        Traps
                        <h3 class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Traps</h3>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">All
                            <input type="radio" value="all" ng-model="album.radioBtnVal['T']" >
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">None
                            <input type="radio" value="none" ng-model="album.radioBtnVal['T']" >
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Filter Subcategories
                            <input type="radio" value="some" ng-model="album.radioBtnVal['T']" >
                        </label><hr>
                    </span> -->
                    <!-- Spell Subs -->
                    <span ng-if="album.radioBtnVal === 'S'">
                        <h3 class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Spell Subcategories</h3>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Field']" ng-change="album.checkChange('race', 'Field')">
                            Field Spells 
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Equip']" ng-change="album.checkChange('race', 'Equip')">
                            Equip Spells 
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['S#C Normal']" ng-change="album.checkChange('race', 'S#C Normal')">
                            Noraml Spells
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Ritual']" ng-change="album.checkChange('race', 'Ritual')">
                            Ritual Spells
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['S#C Continuous']" ng-change="album.checkChange('race', 'S#C Continuous')">
                            Continuous Spells
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Quick-Play']" ng-change="album.checkChange('race', 'Quick-Play')">
                            Quick Play Spells
                        </label>
                    </span>
                    <!-- Trap Subs -->
                    <span ng-if="album.radioBtnVal === 'T'">
                        
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox">
                            Noraml Traps 
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox">
                            Counter Traps 
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox">
                            Continues Spell
                        </label>
                        
                    </span>
                    <!-- Monster Types -->
                    <span ng-if="album.radioBtnVal === 'M'">
                        <h3 class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Monster Types</h3>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Normal Monster']" ng-change="album.checkChange('type', 'Normal Monster')">
                            Normal Monster 
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Effect Monster']" ng-change="album.checkChange('type', 'Effect Monster')">
                            Effect Monster 
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Ritual Monster']" ng-change="album.checkChange('type', 'Ritual Monster')">
                            Ritual Monster
                        </label>
                    </span>
                    <!-- Extra Deck Types -->
                    <span>

                    </span>
                    <!-- Monster Lvl -->
                    <span ng-if="album.radioBtnVal === 'M'">
                        <h3 class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Monster Stars</h3>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['1']" ng-change="album.checkChange('level', 1)">
                            1
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['2']" ng-change="album.checkChange('level', 2)">
                            2 
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['3']" ng-change="album.checkChange('level', 3)">
                            3
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['4']" ng-change="album.checkChange('level', 4)">
                            4
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['5']" ng-change="album.checkChange('level', 5)">
                            5
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['6']" ng-change="album.checkChange('level', 6)">
                            6
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['7']" ng-change="album.checkChange('level', 7)">
                            7
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['9']" ng-change="album.checkChange('level', 9)">
                            9
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['10']" ng-change="album.checkChange('level', 10)">
                            10
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['11']" ng-change="album.checkChange('level', 11)">
                            11
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['12']" ng-change="album.checkChange('level', 12)">
                            12
                        </label>
                        
                    </span>
                    
                </span>

                <a 
                ng-if="album.whichMenu === 'options'" 
                id="submit"
                ng-click="album.filterSelected()"
                class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Submit</a>
                
            </div>   
        </li> 
    </ul>
</div>
{{album.filterArr}}
<h3>Your Album</h3>
<div ng-if="album.yourCards.length > 0">
    <div class="card-container">

        <div class="detail-window">
            <img ng-if="album.mouseOverCard.api_id" ng-src="{{album.mouseOverCard.card_images[0]}}" alt="{{album.mouseOverCard.name}}">
        </div>

        <div class="card-box">
            <div class="card" 
             ng-repeat="card in album.yourCards | cardFilter : album.filter | orderBy: 'rarity' :true " 
             ng-mouseenter="album.getCardDetails(card)" 
             ng-click="album.changeCardlock()"> 
                <img class="card-img" ng-src="{{card.card_images[1]}}" alt={{card.name}}>{{card.ammount}} 
            </div class="card">
        </div>
        
    </div>
</div>