<div class="dropdown-container">
    <ul class="dropdown"> 
        <li class="dropdown-item"> 
            <a class="dropdown-btn" ng-click="album.changeFilterMenu()" href=""><i class="arrow"></i></a>
            <div class="dropdown-menu" ng-if="album.filterMenu">
                <!-- Main Menu -->
                <a href="" class="menu-item {{album.doTheSlide? album.mainMenuClass : '' }}" ng-click="album.slideTo('sort')">Sort</a>
                <a href="" class="menu-item {{album.doTheSlide? album.mainMenuClass : '' }}" ng-click="album.slideTo('filter')">Filter</a>

                <!-- Secondary Menu -->
                <a href="" class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}" ng-click="album.secondSlider()">Back</a>
                <!-- Filter -->
                <span ng-if="album.whichMenu === 'filter' " >
                    <a href="" class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}" ng-click="album.filterSelected('type', 'Monster')">Monster</a>
                    <a href="" class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}" ng-click="album.filterSelected('type', 'Spell Card')">Spell</a>
                    <a href="" class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}" ng-click="album.filterSelected('type', 'Trap Card')">Trap</a>
                </span>
                <!-- Sort -->
                <span ng-if="album.whichMenu === 'sort' " >
                    <a href="" class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Rarity</a>
                    <a href="" class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}">A -> Z</a>
                    <a href="" class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Z -> A</a>
                </span>
            </div>   
        </li> 
    </ul>
</div>

<h3>Your Album</h3>
<div ng-if="album.yourCards.length > 0">
    <div class="card-container">

        <div class="detail-window">
            <img ng-if="album.mouseOverCard.api_id" ng-src="{{album.mouseOverCard.card_images[0]}}" alt="{{album.mouseOverCard.name}}">
        </div>

        <div class="card-box">
            <div class="card" ng-repeat="card in album.yourCards | filter : album.filter : true : album.compare" ng-mouseenter="album.getCardDetails(card)" ng-click="album.changeCardlock()"> <img class="card-img" ng-src="{{card.card_images[1]}}" alt={{card.name}}> </div class="card">
        </div>
        
    </div>
</div>