<div class="dropdown-container">
    <ul class="dropdown"> 
        <li class="dropdown-item"> 
            <a class="dropdown-btn" ng-click="album.changeFilterMenu()" href=""><i class="arrow"></i></a>
            <div class="dropdown-menu {{album.radioBtnVal === 'M'? ' extended' : ''}}" ng-if="album.filterMenu">
                <!-- Main Menu -->
                <a href="" class="menu-item {{album.doTheSlide? album.mainMenuClass : '' }}" ng-click="album.slideTo('options')">Filter</a>
                <a href="" class="menu-item {{album.doTheSlide? album.mainMenuClass : '' }}" ng-click="album.slideTo('sort')">Sort</a>
                

                <!-- Secondary Menu -->
                <a href="" class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}" ng-click="album.secondSlider()">Back</a>
                <!-- Sort -->
                <span ng-if="album.whichMenu === 'sort' " >
                    <label href="" class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                        <input type="checkbox" ng-model="album.reverseSort">
                        Reverse Order
                    </label>
                    <a href="" class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}" ng-click="album.changeSort('rarity')">Rarity</a>
                    <a href="" class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}" ng-click="album.changeSort('name')">A -> Z</a>
                    <a href="" class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}" ng-click="album.changeSort('atk')">Attack</a>
                    <a href="" class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}" ng-click="album.changeSort('def')">Defence</a>
                    <a href="" class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}" ng-click="album.changeSort('level')">Stars</a>
                </span>
                <!-- Filter Radio Btns -->
                <span class="filter-container" ng-if="album.whichMenu === 'options' " >
                    <!-- rdo btn -->
                    <span>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['favorite']" ng-change="album.checkChange('favorite', 'favorite')">
                            Favorite Cards
                        </label>
                        <hr>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            All Cards
                            <input type="radio" value="X" ng-model="album.radioBtnVal" ng-click="album.switchCardType()">
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            Monsters
                            <input type="radio" value="M" ng-model="album.radioBtnVal" ng-click="album.switchCardType()">
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            Spells
                            <input type="radio" value="S" ng-model="album.radioBtnVal" ng-click="album.switchCardType()">
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            Traps
                            <input type="radio" value="T" ng-model="album.radioBtnVal" ng-click="album.switchCardType()">
                        </label>
                    </span>
                   
                    <!-- Spell Subs -->
                    <span ng-if="album.radioBtnVal === 'S'">
                        <h3 class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Spell Subcategories</h3>
                        <hr class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">

                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['S#C Normal']" ng-change="album.checkChange('race', 'S#C Normal')">
                            Noraml Spells
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Field']" ng-change="album.checkChange('race', 'Field')">
                            Field Spells 
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Equip']" ng-change="album.checkChange('race', 'Equip')">
                            Equip Spells 
                        </label>                    
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Ritual']" ng-change="album.checkChange('race', 'Ritual')">
                            Ritual Spells
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['S#C Continuous']" ng-change="album.checkChange('race', 'S#C Continuous')">
                            Continuous Spells
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Quick-Play']" ng-change="album.checkChange('race', 'Quick-Play')">
                            Quick Play Spells
                        </label>
                    </span>
                    <!-- Trap Subs -->
                    <span ng-if="album.radioBtnVal === 'T'">
                        <h3 class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Trap Subcategories</h3>
                        <hr class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">

                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['T#C Normal']" ng-change="album.checkChange('race', 'T#C Normal')">
                            Noraml Traps
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Counter']" ng-change="album.checkChange('race', 'Counter')">
                            Counter Traps
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['T#C Continuous']" ng-change="album.checkChange('race', 'T#C Continuous')">
                            Continuous Traps
                        </label>
                        
                    </span>
                    <!-- Monster Types -->
                    <span ng-if="album.radioBtnVal === 'M'">
                        <h3 class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Monster Types</h3>
                        <hr class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">

                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Normal Monster']" ng-change="album.checkChange('type', 'Normal Monster')">
                            Normal Monster 
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Effect Monster']" ng-change="album.checkChange('type', 'Effect Monster')">
                            Effect Monster 
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Flip Effect Monster']" ng-change="album.checkChange('type', 'Flip Effect Monster')">
                            Flip Effect Monster 
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Gemini Monster']" ng-change="album.checkChange('type', 'Gemini Monster')">
                            Gemini Monster 
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Union Effect Monster']" ng-change="album.checkChange('type', 'Union Effect Monster')">
                            Union Monster
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Spirit Monster']" ng-change="album.checkChange('type', 'Spirit Monster')">
                            Spirit Monster
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Toon Monster']" ng-change="album.checkChange('type', 'Toon Monster')">
                            Toon Monster
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Ritual Monster']" ng-change="album.checkChange('type', 'Ritual Monster')">
                            Ritual Monster
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Ritual Effect Monster']" ng-change="album.checkChange('type', 'Ritual Effect Monster')">
                            Ritual Effect Monster
                        </label>
                    </span>
                    <!-- Extra Deck Types -->
                    <span ng-if="album.radioBtnVal === 'M'">
                        <h3 class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Extra Deck Types</h3>
                        <hr class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">

                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Fusion Monster']" ng-change="album.checkChange('type', 'Fusion Monster')">
                            Fusion Monster 
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Synchro Monster']" ng-change="album.checkChange('type', 'Synchro Monster')">
                            Synchro Monster 
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Synchro Tuner Monster']" ng-change="album.checkChange('type', 'Synchro Tuner Monster')">
                            Synchro Tuner Monster 
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['XYZ Monster']" ng-change="album.checkChange('type', 'XYZ Monster')">
                            XYZ Monster 
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Link Monster']" ng-change="album.checkChange('type', 'Link Monster')">
                            Link Monster 
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Pendulum Effect Fusion Monster']" ng-change="album.checkChange('type', 'Pendulum Effect Fusion Monster')">
                            Pendulum Fusion Monster 
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Synchro Pendulum Effect Monster']" ng-change="album.checkChange('type', 'Synchro Pendulum Effect Monster')">
                            Pendulum Synchro Monster 
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['XYZ Pendulum Effect Monster']" ng-change="album.checkChange('type', 'XYZ Pendulum Effect Monster')">
                            Pendulum XYZ Monster 
                        </label>

                    </span>
                    <!-- Monster Lvl -->
                    <span ng-if="album.radioBtnVal === 'M'">
                        <h3 class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Monster Stars</h3>
                        <hr class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">

                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['1']" ng-change="album.checkChange('level', 1)">
                            1
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['2']" ng-change="album.checkChange('level', 2)">
                            2 
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['3']" ng-change="album.checkChange('level', 3)">
                            3
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['4']" ng-change="album.checkChange('level', 4)">
                            4
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['5']" ng-change="album.checkChange('level', 5)">
                            5
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['6']" ng-change="album.checkChange('level', 6)">
                            6
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['7']" ng-change="album.checkChange('level', 7)">
                            7
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['8']" ng-change="album.checkChange('level', 8)">
                            8
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['9']" ng-change="album.checkChange('level', 9)">
                            9
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['10']" ng-change="album.checkChange('level', 10)">
                            10
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['11']" ng-change="album.checkChange('level', 11)">
                            11
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['12']" ng-change="album.checkChange('level', 12)">
                            12
                        </label>
                        
                    </span>
                    <!-- Monster Attributes -->
                    <span ng-if="album.radioBtnVal === 'M'">
                        <h3 class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Monster Attributes</h3>
                        <hr class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">

                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['DARK']" ng-change="album.checkChange('attribute', 'DARK')">
                            DARK
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['LIGHT']" ng-change="album.checkChange('attribute', 'LIGHT')">
                            LIGHT
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['FIRE']" ng-change="album.checkChange('attribute', 'FIRE')">
                            FIRE
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['WATER']" ng-change="album.checkChange('attribute', 'WATER')">
                            WATER
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['WIND']" ng-change="album.checkChange('attribute', 'WIND')">
                            WIND
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['EARTH']" ng-change="album.checkChange('attribute', 'EARTH')">
                            EARTH
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['DIVINE']" ng-change="album.checkChange('attribute', 'DIVINE')">
                            DIVINE
                        </label>

                    </span>
                    <!-- Monster Races -->
                    <span ng-if="album.radioBtnVal === 'M'">
                        <h3 class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Monster Races</h3>
                        <hr class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">

                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Aqua']" ng-change="album.checkChange('race', 'Aqua')">
                            Aqua
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Beast']" ng-change="album.checkChange('race', 'Beast')">
                            Beast
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Beast-Warrior']" ng-change="album.checkChange('race', 'Beast-Warrior')">
                            Beast-Warrior
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Creator-God']" ng-change="album.checkChange('race', 'Creator-God')">
                            Creator-God
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Cyberse']" ng-change="album.checkChange('race', 'Cyberse')">
                            Cyberse
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Dinosaur']" ng-change="album.checkChange('race', 'Dinosaur')">
                            Dinosaur
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Divine-Beast']" ng-change="album.checkChange('race', 'Divine-Beast')">
                            Divine-Beast
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Dragon']" ng-change="album.checkChange('race', 'Dragon')">
                            Dragon
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Fairy']" ng-change="album.checkChange('race', 'Fairy')">
                            Fairy
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Fiend']" ng-change="album.checkChange('race', 'Fiend')">
                            Fiend
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Fish']" ng-change="album.checkChange('race', 'Fish')">
                            Fish
                        </label>
                        <!-- p2 -->
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Insect']" ng-change="album.checkChange('race', 'Insect')">
                            Insect
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Machine']" ng-change="album.checkChange('race', 'Machine')">
                            Machine
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Plant']" ng-change="album.checkChange('race', 'Plant')">
                            Plant
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Psychic']" ng-change="album.checkChange('race', 'Psychic')">
                            Psychic
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Pyro']" ng-change="album.checkChange('race', 'Pyro')">
                            Pyro
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Reptile']" ng-change="album.checkChange('race', 'Reptile')">
                            Reptile
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Rock']" ng-change="album.checkChange('race', 'Rock')">
                            Rock
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Sea Serpent']" ng-change="album.checkChange('race', 'Sea Serpent')">
                            Sea Serpent
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Spellcaster']" ng-change="album.checkChange('race', 'Spellcaster')">
                            Spellcaster
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Thunder']" ng-change="album.checkChange('race', 'Thunder')">
                            Thunder
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Warrior']" ng-change="album.checkChange('race', 'Warrior')">
                            Warrior
                        </label>
                        <label class="{{album.doTheSlide? album.secondMenuClass : 'start_out' }}">
                            <input type="checkbox" ng-model="album.inputVal['Winged Beast']" ng-change="album.checkChange('race', 'Winged Beast')">
                            Winged Beast
                        </label>
                        
                    </span>
                    
                    
                </span>

                <a 
                ng-if="album.whichMenu === 'options'" 
                id="submit"
                ng-click="album.filterSelected()"
                class="menu-item {{album.doTheSlide? album.secondMenuClass : 'start_out' }}">Submit</a>
                
            </div>   
        </li> 
    </ul>
</div>